FRONTEND_URL=http://localhost:3001
SERVER_URL=http://localhost:3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/complit_db

GOOGLE_CLIENT_ID=your_client_id
GOOGLE_CLIENT_SECRET=your_client_secret

NODE_ENV=development
